@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

/*Whatsapp Button*/

.whatsapp-link{
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 3%;
    right: 2%;
    background-color: #25d366;
    border-radius: 50px;
    text-align: center;
    font-size: 50px;
    box-shadow: 1px 1px 2px rgb(136, 136, 136);
    border: 1px solid rgba(124, 124, 124, 0.295);
    z-index: 1000;
}

.whatsapp-link .bi-whatsapp{
    position: relative;
    color: #ffffff;
    text-align: center;
    left: 3px;
    bottom: 3px;
}

/*Body*/

/*header*/
header{
    height: 100vh;
    background: url('img/pexels-pixabay-325876.jpg') center no-repeat;
    background-size: cover;
    
}
header > div{
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.logo-header {
    height: 250px;
    width: 250px;
}
.sublogo{
    color: white;
    font-size: 1.3em;
    margin-top: 20px;
}
.logo-nav{
    margin-top: 10px;
    width: 50px;
    height: 50px;
}

/* Menu */
.nav-header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;
    background-color: rgb(255, 255, 255);
    color: #000000;
    padding-bottom: 10px;

}
.nav-topics{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 30px 50px;
}

.d-block{
    height: 300px;
}

/* presentation */
#presentation{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    padding: 20px 50px;

}
.presentation-img{
    height: 250px;
    width: 250px;
}

/* montage */
#montage{
    background-color: rgb(78, 78, 78);
    text-align: center;
    padding: 20px 0px;
    color: white;
}
#montage > h3{
    margin-bottom: 40px;
}
#montage > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.instructer{
    max-width: 150px;
}

/* Services */
#list-services{
    padding: 50px 5%;
}
#list-services > h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.body-tab{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
}
.itens-products{
    text-align: center;
    width: 150px;
    border: solid black 1px;
    border-radius: 5px 5px ;
    padding: 10px 0px;
}

/* gallery */
#gallery {
    background: rgb(78, 78, 78);
    padding: 50px 5%;
}
#gallery > h3 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
    font-size: 3em;
}
.image-modal{
    height: 300px;
    width: 300px;
}



/* Contact */

.contact {
    height: 500px;
    background: url('img/pexels-adam-lukac-773958.jpg') center no-repeat;
    background-size: cover;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-shadow: 3px 3px 10px black;
    color: white;
    box-shadow: 0px 0px 5px black;
    padding: 50px 0px;
}
/*phone*/
.contact-numbers h3 {
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 1px black;
}
.contact-numbers p{
    font-size: 3em;
    text-align: center;
}
.contact-numbers a{
    text-decoration: none;
    color: white;
}


/*social media*/
.contact-social-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.contact-social h3 {
    margin-top: 30px;
    font-size: 3em;
    color: white;
    text-shadow: 2px 2px 1px black;
}
.contact-social a{
    font-size: 9em;
}
.contact p:hover{
    color: white;
}

/* Footer */
footer{
    font-size: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: #000000;
    color: #ffffff;
    padding-top: 10px;
    margin: 0px 0px;
}
footer p {
    margin-bottom: 0px;
}
