/*configurações gerais*/

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

* {
    margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
	font-size: 100%;
	text-decoration: none;
}
a {
    color: inherit;
    text-decoration: none;
}

:root{
    --font: 'Source Sans Pro', sans-serif;
    --font-destaque: 4em;
    --font-titulo: 3em;
    --font-topico: 2.5em;
    --font-subtopico: 2.0em;
    --font-desc: 1.8em;

    --cor-branco: rgb(241, 241, 241);
    --cor-azul: #00a2dd1c;
    --cor-cinza: rgb(78, 78, 78);
    --cor-sombra: rgba(0, 0, 0, 0.596);
    --cor-preto: #201e1f;
}


/*  Whatsapp  */

.whatsapp-link{
    position: fixed;
    width: 70px;
    height: 70px;
    bottom: 3%;
    right: 2%;
    background-color: #25d366;
    border-radius: 50px;
    text-align: center;
    font-size: 50px;
    box-shadow: 1px 1px 2px rgb(136, 136, 136);
    border: 1px solid rgba(124, 124, 124, 0.295);
    z-index: 1000;
}

.whatsapp-link .bi-whatsapp{
    position: relative;
    color: #ffffff;
    text-align: center;
    left: 3px;
    bottom: 3px;
}
.whatsapp-link:hover{
    transition: 1s;
    box-shadow: inset 0px 0px 30px rgba(0, 0, 0, 0.596);
}



/*  Início  */
header{
    height: 100vh;
    background: url('img/capa.jpg') center right no-repeat;
    background-size: cover;
    
}
header > div{
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.logo-header {
    height: 450px;
    width: 450px;
}
.sublogo{
    color: var(--cor-branco);
    font-size: var(--font-subtopico);
    margin-top: 20px;
    text-shadow: 1px 1px 2px var(--cor-sombra);
}


/* Menu */
.logo-nav {
    margin-top: 10px;
    width: 100px;
    height: 100px;
}
#menu-burguer {
    display: none;
}
.nav-header{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-end;
    background-color: var(--cor-branco);
    color: var(--cor-preto);
    padding-bottom: 10px;

}
.nav-topics{
    font-size: var(--font-subtopico);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 80px 80px;
}
.nav-topics-mobile {
    font-size: var(--font-subtopico);
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
    text-align: center;
    gap: 0px 0px;
    border-top: 2px solid black;
    margin-left: -35px;

}
.nav-topics-mobile > li {
    color: var(--cor-branco);
    background-color: var(--cor-cinza);
    border-bottom: 2px solid var(--cor-preto);
}
#mobile-menu {
    display: none;
}
.d-block{
    height: 600px;
}

/* banrers carrossel*/
#banners-products{
    box-shadow: 0px 3px 10px var(--cor-sombra);
}

/* Apresentação empresa */
#presentation{
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    padding: 50px 50px 20px;
}
.text-presentation{
    font-size: var(--font-desc);
    text-align: justify;
}
.text-presentation > h3{
    font-size: var(--font-topico);
    margin-bottom: 20px;
}
.text-presentation > p{
    text-indent: 2em;
}

/* Instruções de pedido */
#montage{
    background-color: var(--cor-cinza);
    text-align: center;
    padding: 50px 5px 20px 5px;
    color: white;
    box-shadow: inset 0px 0px 10px var(--cor-sombra);
}
#montage > h3{
    margin-bottom: 40px;
    font-size: 3em;
}
#montage > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: var(--font-desc);
}
.instructer{
    max-width: 300px;
}

/* Lista de produtos */
#list-services{
    padding: 50px 5%;
    background-color: var(--cor-branco);
}
#list-services > h2 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    font-size: var(--font-destaque);
}
#list-services > h3 {
    font-size: var(--font-topico);
    display: flex;
    justify-content: flex-start;
    margin: 40px 0px 20px 0px;
}
.body-itens{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
    align-items: center;
}
.itens-products{
    color: var(--cor-branco);
    font-size: var(--font-subtopico);
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 1px var(--cor-sombra);
    width: 300px;
    border: solid black 1px;
    border-radius: 5px 5px ;
    padding: 30px 5px;
    box-shadow: 0px 0px 5px var(--cor-sombra);
    background-color: var(--cor-preto);
}
.itens-products:hover{
    transition: 0.7s;
    margin: 0px 2px;
    box-shadow: 5px 5px 10px var(--cor-sombra);
}

.tag-camiseta{
    background: gray url(img/tags/tag01.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: inherit;
}
.tag-polo{
    background:  url(img/tags/tag02.jpg) right top no-repeat;
    background-size: cover;
    background-attachment: inherit;
}
.tag-social{
    background: gray url(img/tags/tag03.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: inherit;
}
.tag-calca{
    background: gray url(img/tags/tag04.jpg) center bottom no-repeat;
    background-size: cover;
    background-attachment: inherit;
}
.tag-moletom{
    background: gray url(img/tags/tag05.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: inherit;
}
.tag-bone{
    background: gray url(img/tags/tag06.jpg) center center no-repeat;
    background-size: cover;
    background-attachment: inherit;
}
.tag-jaqueta{
    background: gray url(img/tags/tag07.jpg) center top no-repeat;
    background-size: cover;
    background-attachment: inherit;
}
.tag-sueter{
    background: gray url(img/tags/tag08.jpg) center top no-repeat;
    background-size: cover;
    background-attachment: inherit;
}
.graf{
    background: gray url(img/tags/tag-grafica.jpg) center bottom no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/*  Portifólio  */
#portifolio {
    background: var(--cor-sombra);
    padding: 50px 5%;   
}
#portifolio > h3 {
    color: var(--cor-branco);
    text-align: center;
    margin-bottom: 30px;
    font-size: 4em;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.521);
}
.portifolio-ideia {
    height: 300px;
    width: 300px;
    border-radius: 5px 5px;
    border: 5px solid var(--cor-branco);
}

.portifolio-ideia:hover {
    transition: 0.3s;
    box-shadow: 0px 0px 15px var(--cor-branco);
}


/* Galeria */
#gallery {
    background: var(--cor-branco);
    padding: 50px 5%;
    
}
.gallery-square{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
   justify-content: center;
}
#gallery > h3 {
    color: var(--cor-preto);
    text-align: center;
    margin-bottom: 30px;
    font-size: 4em;
}

.gallery-ideia {
    height: 300px;
    width: 300px;
    border-radius: 5px 5px;
    border: 5px solid var(--cor-preto);
}

.gallery-ideia:hover {
    transition: 0.3s;
    box-shadow: 0px 0px 30px var(--cor-cinza);
}



/* Contato */
.contact {
    background: url('img/contato.jpg') center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    text-shadow: 3px 3px 10px var(--cor-sombra);
    color: var(--cor-branco);
    box-shadow: 0px 0px 5px var(--cor-sombra);
    padding: 50px 0px;
}
/* Telefone */
.contact-numbers h3 {
    font-size: var(--font-destaque);
    color: var(--cor-branco);
    text-shadow: 2px 2px 1px var(--cor-sombra);
    text-align: center;
}
.contact-numbers p{
    font-size: var(--font-destaque);
    text-align: center;
}
.contact-numbers a{
    text-decoration: none;
    color: var(--cor-branco);
}


/* social media */
.contact-social-icons {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.contact-social h3 {
    margin-top: 30px;
    font-size: var(--font-destaque);
    color: var(--cor-branco);
    text-shadow: 2px 2px 1px black;
}
.contact-social a{
    font-size: 10em;
}
.contact p:hover{
    color: var(--cor-branco);
}

/* Rodapé */
footer{
    font-size: 10px;
    display: flex;
    justify-content: space-evenly;
    background-color: var(--cor-preto);
    color: var(--cor-branco);
    padding-top: 10px;
}

